*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: bisque;
    padding: 20px; 
}

.qtd-preco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    max-width: 1000px;
}

#qtd{
    display: block;
    height: 40px;
    width: 200px;
    margin: 16px 0;
    border-radius: 4px;
    padding: 4px;
}

.valores{
    background-color: #fff;
    display: inline;;
    padding: 30px 80px;
    width: 140px;
    margin-left: 16px;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: 400;
    font-size: 24px;
}

.valores p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(151, 150, 150, 0.473);
    text-align: center;
    padding-bottom: 4px;
}


.picole-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn-escolha{
    display: inline-block;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.158);
}

.btn-escolha:hover{
    color: #fff ;
    opacity: 80%;
    border: 1px solid black;
}

#retro{
    background-color: rgb(224, 64, 224);
}

#fruta{
    background-color: yellow;
}

#ao-leite{
    background-color: rgb(109, 161, 238);
}

#love{
    background-color: rgb(248, 197, 248);
}

#fondue{
    background-color: rgb(105, 63, 43);
}

#unicornio{
    background-color: rgb(209, 161, 218);
}

#astros{
    background-color: turquoise;
}

#limao-siciliano{
    background-color: rgb(201, 240, 228);
}

#trufa{
    background-color: rgb(173, 172, 93);
}

#snack{
    background-color: rgb(48, 30, 212);
}

#natturale{
    background-color: rgb(134, 211, 118);
}

#picole-zero{
    background-color: rgb(240, 41, 6);
}

#alpha{
    background-color: rgb(160, 62, 44);
}

#belga-brulee{
    background-color: rgb(230, 164, 23);
}

#brownie-cenoura{
    background-color: rgb(126, 96, 33);
}

#paleta{
    background-color: rgb(51, 51, 51);
}

#acai{
    background-color: rgb(128, 26, 175);
}

#acai-granola{
    background-color: rgb(128, 26, 175);
}

#acai2l{
    background-color: rgb(95, 16, 131);
}

#acai-zero{
    background-color: rgb(87, 3, 82);
}

#copao{
    background-color: rgb(248, 166, 248);
}

#sundae{
    background-color: rgb(243, 70, 128);
}

#pote-duo{
    background-color: rgb(243, 70, 128);
}

#pote2l{
    background-color: rgb(238, 133, 13);
}

#specialle{
    background-color: rgb(80, 80, 80);
}

#napo-zero{
    background-color: rgb(160, 211, 240);
}

#mini-bombom{
    background-color: rgb(47, 76, 155);
}

#cone{
    background-color: rgb(85, 46, 28);
}

#casquinha{
    background-color: rgb(250, 215, 99);
}

.grid-mostrar{
    display: grid;
    grid-template-columns: auto 320px;
    gap: 16px;
    place-content: center;
}

#mostrar{
    display: flex;
    border: 1px solid gray;
    background-color: #fff;
    height: 394px;
    border-radius: 4px;
    padding: 6px;
    overflow-y: auto;
}


.finalizadores{
    display: flex;
    align-items: center;
    gap: 12px;
    list-style: none;
}

.finalizadores li{
    display: grid;
    text-align: center;
}

.input-finalizador input{
    padding: 30px 0px;
    margin-top: 8px;
}

.finalizador{ 
    border: 1px solid gray;
    background-color: #fff;
    height: 200px;
    max-width: 800px;
    padding: 20px 20px;
    border-radius: 4px;
    position: absolute;
    top: 30vh;
    left: 25vw;
    display: none;
}

.finalizador input{
    text-align: center;
}

.ativo{
    display: grid;
}

/* #btn-confirmar{
    
} */

.botoes-fechamento-venda{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media(max-width:900px) {
    .finalizador{
        left: 15vw;
    }


}