#mostrar-item{
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  background-color: #fff;
  height: 394px;
  border-radius: 4px;
  padding: 6px;
  overflow-y: auto;
}

#mostrar li{
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.089);
  padding: 10px 4px;
  border-radius: 4px;
}

#mostrar li:hover{
  background-color: rgba(0, 0, 0, 0.027);
}

.mostrar-cabecalho{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: start;
  gap: 0px;
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid black;
}

.mostrar-vendas-salvas{
  background-color: #fff;
  opacity: 0;
}