.valores-grid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
  max-width: 1000px;
}

#valor-desconto{
  display: inline-block;
  font-weight: 700;
  margin-left: 20px;
  font-size: 24px;
}

.valores{
  background-color: #fff;
  display: inline;;
  padding: 30px 80px;
  width: 140px;
  margin-left: 16px;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: 400;
  font-size: 24px;
}

.valores p{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgba(151, 150, 150, 0.473);
  text-align: center;
  padding-bottom: 4px;
}